<ion-view view-title="view" name="view">
	<ion-header-bar align-title="center" class="bar-dark">
  		<div class="buttons">
  		<!--	<button ng-click="getFormInfo()" class="button icon ion-information"></button>-->
			<button ng-click="back()" class="button icon ion-chevron-left"></button>
		</div>
  		<h1 class="title">{{form.name}}<span style="padding-left: 10px; font-size: 24px;"><i class="icon ion-eye"></i></span></h1>
	</ion-header-bar>

	<ion-content>
			<div ng-repeat="field in form.fields" class="list list-inset">
				<div class="list" ng-if="field.type == 'text'">
				  <label class="item item-input item-stacked-label">
    				  <span class="input-label">{{field.value}}</span>
    				  <input type="text" ng-model="field.input"  ng-init="field.input = ''" placeholder="Tap to type">
  				  </label>
				</div>
				<div class="list" ng-if="field.type == 'number'">
                                  <label class="item item-input item-stacked-label">
                                  <span class="input-label">{{field.value}}</span>
                                  <input type="number" ng-model="field.input" ng-init="field.input = 0" min=0 placeholder="Tap to Type">
                                  </label>
				</div>

				<div class="list" ng-if="field.type == 'checkbox'">
					<label class="item item-input item-stacked-label">
					<span class="input-label">{{field.value}}</span>
					<ion-checkbox ng-model="field.input">{{field.value}}</ion-checkbox>
					</label>
				</div>			
				
				<ion-list ng-if="field.type == 'radio'">
					<div class="item item-divider">{{field.value}}</div>
					<ion-radio ng-repeat="option in field.options" ng-model="field.input" ng-value="{{option.value}}">{{option.value}}</ion-radio>
				</ion-list>

				<div class="list" ng-if="field.type == 'select'">

				  <label class="item item-input item-select">
				    <div class="input-label">{{field.value}}</div>
				    <select ng-model="field.input" ng-init="field.input=field.options[0].value">
				      <option ng-repeat="option in field.options">{{option.value}}</option>
				    </select>
				  </label>

				</div>
				<ion-list ng-if="field.type == 'list'" ng-init="field.input=field.options[0].value">
					<div class="item item-divider">{{field.value}}</div>
					<ion-checkbox ng-model="field.input" ng-repeat="option in field.options">{{option.value}}</ion-checkbox>
				</ion-list>

				<div class="list" ng-if="field.type == 'range'" ng-init="field.input='0'">
				  <div class="item item-divider">{{field.value}}</div>
				  <div class="item range range-{{field.color}}">
				    <i class="icon ion-ios-{{field.icon}}-outline"></i>
				    <input type="range" ng-model="field.input" name="volume" min="0" max="100" value="0" >
				    <i class="icon ion-ios-{{field.icon}}"></i>
				  </div>
				</div>
			</div>

		<div style="padding: 10px;">	
			<button ng-show=isAdmin ng-click="addField({{form.id}})" class="button button-block button-royal">Add Field</button>
		</div>
		

	</ion-content>
	<div class="bar bar-footer bar-dark">
          <button class="button button-clear" ng-click="cancelSubmitForm()"><i class="icon ion-close assertive"></i></button>
          <button class="button button-clear" ng-click="submitForm()"><i class="icon ion-checkmark balanced"></i></button>
        </div>

</ion-view>

<script id="site-info.html" type="text/ng-template">
  <div class="modal">
        <ion-header-bar>
                <h1 class="title">ScienceTap Project View</h1>
        </ion-header-bar>
        <ion-content>
                <div style="padding: 10px; text-align: center;">
			You are viewing a Project Site.<br>Tapping or clicking a Form from the form list will allow you to input and submit data to a form.
		</div>
                <button class="button button-full button-dark" ng-click="closeModal()">Got it!</button>
        </ion-content>
    </div>
</script>



