<ion-view view-title="view" name="view">
        <ion-header-bar align-title="center" class="bar-dark">
                <div class="buttons">
                        <button ng-click="back()" class="button icon ion-chevron-left"></button>
                </div>
                <h1 class="title">{{project.name}} New Site</h1>
        </ion-header-bar>

        <ion-content>
		<div id="create_site_map" class="" style=>

		</div>
		<div class="list list-inset">
			<form name="createProjectForm">
				<div class="item item-divider item-icon-right" ng-click="createSite()">Create Site<i class="icon ion-plus icon-accessory"></i></div>
				<div class="list card">
					<label class="item item-input">
						<input ng-model="create_site.name" type="text" placeholder="Site Name"></input>
					</label>
					<label class="item item-input">
						<input ng-model="create_site.descr" type="text" placeholder="Site Description"></input>
					</label>
					<label class="item item-input">
						<input ng-model="create_site.site_lat" type="number" step="0.0001" placeholder="39.9821"></input>
					</label>
					<label class="item item-input">
						<input ng-model="create_site.site_lon" type="number" step="0.0001" placeholder="-75.0816"></input>
					</label>
				</div>
			</form>
		</div>
		<div class="list list-inset">
			<div class="item item-divider">Select Existing</div>
			<ion-checkbox ng-repeat="site in allSites" ng-model="site.checked" ng-checked="site.checked">{{site.name}}</ion-checkbox>
		</div>

	</ion-content>
        <div class="bar bar-footer bar-dark">
          <button class="button button-clear" ng-click="cancelAdminEdits()"><i class="icon ion-close red_me"></i></button>
          <button class="button button-clear" ng-click="saveAdminEdits()"><i class="icon ion-checkmark green_me"></i></button>
        </div>
</ion-view>



<script id="you_sure.html" type="text/ng-template">
  <div class="modal">
        <ion-header-bar>
                <h1 class="title">Confirm Project Delete</h1>
        </ion-header-bar>
        <ion-content>
                <div style="padding: 10px; text-align: center;">
                        Are you sure you want to delete this project? </br>
                        This action can only be undone by a database administrator.
                </div>
        </ion-content>
        <div class="bar bar-footer bar-dark">
          <button class="button button-clear" ng-click="cancelDelete()"><i class="icon ion-close"></i></button>
          <button class="button button-clear" ng-click="confirmDelete()"><i class="icon ion-checkmark"></i></button>
        </div>          
  </div>
</script>

