<ion-view view-title="view" name="view">
        <ion-header-bar align-title="center" class="bar-dark">
                <div class="buttons">
                        <button ng-click="getCreateFormInfo()" class="button icon ion-information"></button>
                </div>
                <h1 class="title">{{current_project.name}} Users</h1>
                <div class="buttons" style="padding-right: 10px;">
                        <button class="button icon ion-log-out" ng-click="logout()"></button>
                </div>
        </ion-header-bar>

        <ion-content>
		<div class="list list-inset">
			<div class="item item-divider">Select Existing</div>
			<ion-checkbox ng-repeat="form in allForms" ng-model="form.checked" ng-checked="form.checked">{{ form.name }}</ion-checkbox>
		</div>

		<div style="padding: 10px">
                        <button class="button button-block button-royal" ng-click="createForm()">Create Form</button>
                </div>

	</ion-content>
        <div class="bar bar-footer bar-dark">
          <button class="button button-clear" ng-click="cancelAdminEdits()"><i class="icon ion-close"></i></button>
          <button class="button button-clear" ng-click="saveAdminEdits()"><i class="icon ion-checkmark"></i></button>
        </div>
</ion-view>



<script id="you_sure.html" type="text/ng-template">
  <div class="modal">
        <ion-header-bar>
                <h1 class="title">Confirm Project Delete</h1>
        </ion-header-bar>
        <ion-content>
                <div style="padding: 10px; text-align: center;">
                        Are you sure you want to delete this project? </br>
                        This action can only be undone by a database administrator.
                </div>
        </ion-content>
        <div class="bar bar-footer bar-dark">
          <button class="button button-clear" ng-click="cancelDelete()"><i class="icon ion-close"></i></button>
          <button class="button button-clear" ng-click="confirmDelete()"><i class="icon ion-checkmark"></i></button>
        </div>          
  </div>
</script>

