<ion-view view-title="Sciencetap - Map" name="Map">
	<ion-view>
		<ion-content>
		    <div id="map" data-tap-disabled="true"></div>
		</ion-content>
	</ion-view>
	<div class="tabs tabs-positive tabs-icon-bottom">
	<a nav-transition="ios" href="#/map" class="tab-item">
	<i class="icon ion-map"></i>
	Map
	</a>
	<a nav-transition="ios" href="#/collect" class="tab-item">
	<i class="icon ion-clipboard"></i>
	Collect
	</a>
	<a nav-transition="ios" href="#/view" class="tab-item">
	<i class="icon ion-eye"></i>
	View
	</a>
	</div>
</ion-view>
