<ion-view view-title="Sciencetap - Map" name="Map">
	<ion-header-bar align-title="center" class="bar-dark">
                <h1 class="title">{{form.name}}</h1>
                <div class="buttons" style="padding-right: 10px;">
                        <button class="button icon ion-log-out" ng-click="logout()"></button>
                </div>
        </ion-header-bar>
	<ion-content>
	<!--    <div id="map"></div>-->
		<div id="map" ui-map="myMap" class="map-canvas" 
       ui-event="{'map-tilesloaded': 'maploaded()'}"
       ui-options="mapOptions">
</div>
<div ng-repeat="marker in markers" ui-map-marker="markers[$index]"
         ui-event="{'map-click': 'openMarkerInfo(marker)'}">
 </div>

	</ion-content>
	<div class="tabs tabs-dark tabs-icon-bottom">
                <a nav-transition="ios" href="#/home" class="tab-item"><i class="icon ion-clipboard"></i>Projects</a>
		<a nav-transition="ios" href="#/login" class="tab-item" ng-click="logout()"><i class="icon ion-log-out"></i>Logout</a>
        </div>
</ion-view>
