<ion-view view-title="Reset Password" name="reset_password">
	<ion-header-bar class="bar-positive">
		<button class="button button-positive" ng-click="goBack()">
		    Go Back
		</button>
		<div class="title">Reset Password</div>
	</ion-header-bar>
	<ion-view class="bg">
		<ion-content class="padding">
		<h4>A new password will be sent to the following email</h4>
		<form name="resetPasswordForm" ng-submit="resetPassword()">
		<div class="list">
			<label for="resetEmail" class="item item-input"><span class="input-label">Email: </span>
			<input ng-model="$parent.resetEmail" type="email"></input>
			</label>
		</div>
		<input class="button button-block button-royal" type="submit" value="Submit"></input>
		</form>
	</ion-content>
	</ion-view>
</ion-view>



