<ion-view view-title="view" name="view">
	<ion-header-bar align-title="center" class="bar-dark">
  		<!--<button ng-click="getProjectInfo()" class="button icon ion-information"></button>-->
		<button ng-click="back()" class="button icon ion-chevron-left"></button>
  		<h1 class="title">{{project.name}}<span style="padding-left: 10px; font-size: 24px;"><i class="icon ion-star"></i></h1>
		<button class="button icon" ng-show="isAdmin" ng-class="{'icon ion-checkmark green_me': isAdminView, 'icon ion-edit yellow_me': !isAdminView}" ng-click="adminView()"></button>
	</ion-header-bar>

	<ion-content>
		<div class="list list-inset">
			<div class="item item-divider">Information:
			</div>
			<div class="item" style="white-space: normal;"><b>Description: </b>{{project.description}}</div>
			<div class="item"><b>Created at: </b>{{project.created_at}}</div>
		</div>
			
		<div class="list list-inset">
			<div class="item item-divider">Sites
				<span class="item-note">( {{project.sites.length}} )</span>
			</div>
			<ion-item ng-repeat="site in project.sites" ng-click="selectProjectSite({{site}}, $index)" class="item-icon-right">{{site.name}}
				<span class="item-note">{{site.lat}} , {{site.lon}}</span>
				<i ng-class="{'icon ion-close icon-accessory': isAdminView, 'icon ion-chevron-right icon-accessory': !isAdminView}"></i>
			</ion-item>

		</div>
		<div style="padding: 10px">
			<button class="button button-block button-royal" ng-show=isAdminView ng-click="addSite({{project.id}})">Add Site</button>
		</div>
	</ion-content>
	<div class="tabs tabs-dark tabs-icon-bottom">
		<a nav-transition="ios" href="#/map" class="tab-item"><i class="icon ion-map"></i>Map</a>
		<a nav-transition="ios" href="#/home" class="tab-item"><i class="icon ion-clipboard"></i>Projects</a>
		<a nav-transition="ios" href="#/login" class="tab-item" ng-click="logout()"><i class="icon ion-log-out"></i>Logout</a>	
		<!--	<a nav-transition="ios" href="#/admin" class="tab-item"><i class="icon ion-settings"></i>Manager</a>-->
	</div>
</ion-view>

<script id="project-info.html" type="text/ng-template">
  <div class="modal">
        <ion-header-bar>
                <h1 class="title">ScienceTap Project View</h1>
        </ion-header-bar>
        <ion-content>
                <div style="padding: 10px; text-align: center;">
                	You are currently viewing a Project you are participating in.<br>  Tapping or Clicking a Site from the Site list will allow you to collect data at a particular Site
		</div>
                <button class="button button-full button-dark" ng-click="closeModal()">Got it!</button>
        </ion-content>
    </div>
</script>



